[tool.poetry]
name = "airthings-sdk"
version = "1.0.0"
description = "A client library for accessing Airthings for Consumer"
authors = []
readme = "README.md"
packages = [
    {include = "airthings_api_client"},
    {include = "airthings_sdk"},
]
include = ["CHANGELOG.md", "api_client/py.typed"]


[tool.poetry.dependencies]
python = "^3.10"
httpx = ">=0.28.0"
attrs = ">=25.0.0"
python-dateutil = ">=2.9.0,<3.0.0"

[tool.poetry.group.dev.dependencies]
openapi-python-client = "^0.25.0"
pylint = "^3.3.7"
black = "^25.1.0"
mypy = "^1.16.0"

[build-system]
requires = ["poetry-core>=2.1.3"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
lint.select = ["F", "I", "UP"]
line-length = 120
