[tool.poetry]
name = "airthings-sdk"
version = "1.0.0"
description = "A client library for accessing Airthings for Consumer"
authors = []
readme = "README.md"
packages = [
    {include = "airthings_api_client"},
    {include = "airthings_sdk"},
]
include = ["CHANGELOG.md", "api_client/py.typed"]


[tool.poetry.dependencies]
python = "^3.8"
httpx = ">=0.20.0,<0.27.0"
attrs = ">=21.3.0"
python-dateutil = "^2.8.0"

[tool.poetry.group.dev.dependencies]
pylint = "^3.1.0"
black = "^26.0.0"
mypy = "^1.8.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
select = ["F", "I", "UP"]
line-length = 120
