name: CI

on: pull_request

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Lint Python API SDK
    defaults:
        run:
          working-directory: api/python/airthings-sdk
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12

      - name: Install Poetry
        uses: snok/install-poetry@v1

      - name: Install dependencies
        run: poetry install

      - name: Check formatting
        run: poetry run black --check airthings_sdk examples

      - name: Check code style
        run: poetry run pylint airthings_sdk examples

      - name: Check types
        run: poetry run mypy airthings_sdk examples
